/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.stream{
    margin-left:2px;
}

.query{
    margin-left:2px;
}

.service{
    margin-bottom: 5px;
}