<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICWE2018 Tutorial - Engineering of Web Stream Processing Applications</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="static/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
    <link href="static/css/wizard.css" rel="stylesheet">
    <link href="static/css/sidebar.css" rel="stylesheet">


</head>

<body>

    <!-- <header>
       
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">ICWE2018 Tutorial</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>-->

    <!-- Begin page content -->
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>ICWE2018 Tutorial</a>
                </li>
                <li>
                    <a href="wizard-app">Create Application</a>
                </li>
                <li>
                    <a href="wizard-stream">Add Stream</a>
                </li>
                <li>
                    <a href="wizard-obs">Add Observers</a>
                </li>
            </ul>
        </div>
        <div id="page-wrapper">
            <div class="container">
                            <h3 class="border-bottom border-gray pb-2">Add Engine</h3>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row border-bottom border-gray pb-2 engine" id="engine">
                                            <div class="col-md-10">
                                                <label for="streamName1">Engine Name</label>
                                                <input type="text" placeholder="Engine Name" class="form-control" id="name" />
                                                <label for="streamUri1">Engine URI</label>
                                                <input type="text" placeholder="Engine uri" class="form-control" id="engineUri" />
                                                <button type="button" id="loadEngine" class="btn btn-success">Load</button>
                                                <button type="button" id="insertEngine" class="btn btn-success">Insert</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="engine-preview" class="col-md-4">
                                        <label for="engineName">Name</label>
                                        <input type="text" placeholder="Engine Name" class="form-control" id="engineName" />
                                        <label for="dialect">Dialect</label>
                                        <input type="text" placeholder="Dialect" class="form-control" id="dialect" />
                                        <label for="baseUrl">Base URL</label>
                                        <input type="text" placeholder="Base Url" class="form-control" id="baseUrl" />
                                        <div id="services">
                                            <h3>Services</h3>
                                            <div class="service border-bottom border-gray pb-2">
                                                <h4 id="serviceName">Service</h4>
                                                <!--<input type="text" placeholder="Service Name" class="form-control" id="serviceName" />-->
                                                <span id="method" class="badge badge-primary">Service Method</span>
                                                <!--<input type="text" placeholder="Service Method" class="form-control" id="method" />-->
                                                <code id="endpoint">Service URL</code>
                                                <!--<input type="text" placeholder="Service URL" class="form-control" id="url" />-->
                                                <div>
                                                    <div id="urlParams">
                                                        <label>URL Parameters</label>
                                                        <ul>

                                                        </ul>
                                                    </div>
                                                    <div id="bodyParams">
                                                        <label>Body Parameters</label>
                                                        <ul>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="static/js/jquery.smartWizard.min.js"></script>
    <script src="static/js/wizard-app.js"></script>

</body>

</html>